<div class="card">
  <div class="card-header">
    <h4>{{business.name}}</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Description: {{business.description}}</h5>
    <p class="card-text">Address: {{business.address}}</p>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="showListWorkers()">List of worker</button>
      <button class="btn btn-primary" (click)="createVacancy()">Create vacancy</button>
      <button class="btn btn-primary" (click)="showListVacancyResponse()">Response List </button>
    </div>
  </div>
</div>
