<div class="card flex-md-row mb-4 box-shadow h-md-250">
  <img class="card-img-right flex-auto d-none d-md-block"
       alt="Thumbnail [200x250]"
       src="{{appartament.pictureUrl}}"
       data-holder-rendered="true" style="width: 400px; height: 300px;">
  <div class="card-body d-flex flex-column align-items-start">
    <strong class="d-inline-block mb-2 text-success">Class: {{typeAppartament[appartament?.typeAppartament]}}</strong>
    <h3 class="mb-0">
      <a class="text-dark" href="#">{{appartament?.title}}</a>
    </h3>
    <div class="mb-1 text-muted">Floor: {{appartament?.floor}}. Count rooms: {{appartament?.countRooms}}</div>
    <p class="card-text mb-auto">{{appartament?.description}}</p>
    <button class="btn btn-success w-25" (click)="buyAppartament()"><i class="fa fa-shopping-cart mr-1"></i> Buy
    </button>
  </div>
</div>
<div *ngIf="suggestionAppartaments?.length > 0" class="row justify-content-center">
  <div *ngFor="let appartament of suggestionAppartaments">
    <app-building-item [appartament]="appartament"></app-building-item>
  </div>
</div>
