<header
  class=" p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
    <h3>UC</h3>
    <ng-container *ngIf="(currentUser$ | async) === null">
      <div class="btn-group">
        <a routerLink="/account/login" class="btn btn-outline-primary">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-primary">Sign up</a>
      </div>
    </ng-container>
    <ng-container *ngIf="(currentUser$ | async) as user">
      <nav class="my-2 my-md-0 mr-md-3 text-uppercase d-flex" style="font-size: 0.9em" >
        <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <div class="dropdown p-2" dropdown>
          <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>City managment</a>
          <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
            <a *appHasRole="['CityManager']"
               class="p-2 text-nowrap dropdown-item"
               routerLink="/city-managment/business-applications"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">Business Applications</a>
            <a class="p-2 text-nowrap dropdown-item" routerLink="/business/vacancy-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Vacancies</a>
          </div>
        </div>
        <a class="p-2" routerLink="/buildings/main" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Buildings</a>
        <div *appHasRole="['BusinessOwner']" class="dropdown p-2" dropdown>
          <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>Business</a>
          <div  class="dropdown-menu dropdown-menu-right" style="cursor: pointer" *dropdownMenu>
            <a class="dropdown-item p-2" routerLink="/business/main" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Business</a>
            <a class="dropdown-item p-2" routerLink="/business/requests-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My applications</a>
          </div>
        </div>
      </nav>
      <div class="d-flex">
        <div class="dropdown ml-3" dropdown>
          <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
            <strong>Welcome {{user.login}}</strong>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
            <a routerLink="/personal-cabinet/main"
               class="dropdown-item d-flex align-items-center py-2 dropdown-divider">
              <i class="fa fa-user mr-3"></i> Personal Cabinet
            </a>
            <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2 dropdown-divider">
              <i class="fa fa-sign-out mr-3"></i> Logout
            </a>
          </div>
        </div>
        <strong class="ml-2" style="font-size: 0.9em">{{user.money | currency}}</strong>
      </div>
    </ng-container>
  </div>
</header>
