<tabset>
    <tab heading="Friends" (selectTab)="selectedTab($event)">
      <ng-container *ngIf="selectTab == 'Friends'">
        <app-friends-list [user]="user"></app-friends-list>
      </ng-container>
    </tab>
    <tab heading="Requests" (selectTab)="selectedTab($event)">
      <ng-container *ngIf="selectTab == 'Requests'">
        <app-friend-request-list  [user]="user"></app-friend-request-list>
      </ng-container>
    </tab>
  <tab heading="Vacancy" (selectTab)="selectedTab($event)">
    <ng-container *ngIf="selectTab == 'Vacancy'">
      <app-vacancies-responds></app-vacancies-responds>
    </ng-container>
  </tab>
</tabset>
