<div class="d-flex justify-content-center mt-5">
  <div class="col-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1>UC</h1>
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <app-text-input formControlName="email" [label]="'Email Address'" [type]="'email'"></app-text-input>
      <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
      <a routerLink="/account/register">Don't have an account yet? Create one</a>
      <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" [disabled]="loginForm.invalid">Sign in</button>

    </form>
  </div>
</div>
